<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT LOGIN</title>
</head>
<body>
    <h1>HEY! GREETINGS FROM US.</h1>
    <p>IF ALREADY AN USER,LOGIN BELOW</p>
    <a href="/log">
<button class = "btn btn-success">LOGIN</button>
</a><br><br>
    <a href="/reg">NOT AN USER?REGISTER.</a>
    
</body>
</html>